body {
  font-family: serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 1px solid black;
  padding: 50px;
  padding-bottom: 70px;
  margin-bottom: 150px;
  border-radius: 3%;
}

input {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  outline-color: black;
  width: 250px;
}

button {
  font-size: 10pt;
  margin: 20px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding-bottom: 20px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-around;
}

nav {
  border-bottom: 1px solid black;
}

.link {
  text-decoration: none;
}

.options {
  color: blue;
  cursor: pointer;
}

.options:active {
  color: orange;
}

.national {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #041201 ;
}

.natContain {
  position: relative;
  text-align: center;
  border: 10px solid aliceblue;
  background-color: #094100;
  cursor: pointer;
}

.natContain:hover {
  border: 10px solid green;
  opacity: .2;
}

.natContain:active {
  border: 10px solid lime;
  opacity: .2;
}

.description {
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 500px;
  width: 300px;
}

.natImg {
  height: 300px;
  width: 500px;
}

.natTitle {
  margin-left: 20px;
}

.moreOne {
  position: absolute;
  left: 35px;
  top: 20px;
  width: 300px;
  height: 350px;
  overflow: auto;
}

.moreTwo {
  position: absolute;
  top: 20px;
  right: 200px;
}

.property {
  color: lime;
  margin-right: 10px;
}

#login {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

#title {
  font-size: 50pt;
}

#search {
  border: 1px solid black;
}

#search-content {
  display: flex;
  justify-content: space-around;
}
