body {
  font-family: serif;
  background-color: lavender;
}

input {
  height: 15px;
  width: 25%;
  border: 1px solid black;
  outline-color: black;
  width: 250px;
}

button {
  font-size: 10pt;
  margin: 20px;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding-bottom: 20px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  justify-content: space-around;
}

nav {
  border: 1px solid black;
  background-image: linear-gradient(to bottom right, #E9FFDE, #5D9B3D);
}

.link {
  text-decoration: none;
}

.options {
  color: blue;
  cursor: pointer;
}

.options:active {
  color: orange;
}

.national {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: #041201 ;
}

.natContain {
  position: relative;
  text-align: center;
  max-height: 360px;
  border: 10px solid aliceblue;
  background-color: #094100;
  cursor: pointer;
}

.natContain:hover {
  border: 10px solid green;
  opacity: .2;
}

.natContain:active {
  border: 10px solid lime;
  opacity: .2;
}

.description {
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 500px;
  width: 300px;
}

.natImg {
  height: 300px;
  width: 500px;
}

.natTitle {
  margin-left: 20px;
}

.moreOne {
  margin: 50px;
  width: 300px;
  height: 350px;
  overflow: auto;
}

.moreTwo {
  margin: 50px;
  height: 350px;
  overflow: auto;
}

.gridSetup {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
}

.property {
  color: lime;
  margin-right: 10px;
}

.propertyTwo {
  color: #CCE8C7;
}

.parkB:hover {
  cursor: pointer;
  color: lime;
}

.nycPark {
  position: relative;
  border: 1px solid black;
  padding: 25px;
  background-color: #01360D;
  z-index: 6;
}

.defaultImg {
  position: absolute;
  font-size: 3em;
  color: white;
  text-align: center;
  top: 100px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 400px;
  word-wrap: break-word;
  overflow: auto;
}

.removePark {
  position: absolute;
  font-size: 2em;
  top: 25px;
  right: 25px;
}

.removePark:hover {
  color: grey;
  font-size: 30px;
  cursor: pointer;
}

.removePark:active {
  color: red;
}

.nycPark img {
  height: 300px;
  width: 500px;
}

.nycPark img:hover {
  opacity: .8;
  border: 2px solid black;
  cursor: pointer;
}

.imageInput {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0px;
}

.imageInput input {
  width: 200px;
}

.imageInput label {
  position: absolute;
  bottom: 0;
  color: white;
}

.labelTwo {
  left: 230px;
}

.labelOne {
  left: -20px;
}

.categories {
  color: white;
}

.yon {
  margin-left: 20px;
}

.response {
  margin-right: 10px;
  color: grey;
}

.answer {
  color: grey;
}

.answer:hover {
  color: black;
  cursor: pointer;
}

.viewComments {
  position: absolute;
  background-color: black;
  color: grey;
  text-align: center;
  border: 1px solid black;
  height: 15px;
  width: 100%;
  left: 0px;
  font-size: 1em;
  bottom: 0;
}

.viewComments:hover {
  background-color: grey;
  color: black;
  cursor: pointer;
}

.addComment {
  position: relative;
  text-align: center;
  background-color: grey;
  width: 100%;
}

.toggleComment {
  cursor: pointer;
}

.toggleComment:hover {
  color: white;
}

.commentHere {
  border: 1px solid peachpuff;
  width: 100%;
  background-color: aliceblue;
}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentForm textarea {
  width: 400px;
  height: 100px;
}

.commentBody {
  position: relative;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentVote {
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 13pt;
}

.commentUser {
  position: absolute;
  font-size: 15pt;
  top: 40%;
  left: 20px;
}

.commentDate {
  position: absolute;
  font-size: 10pt;
  top: 0;
  left: 20px;
}

.voteUpDwn {
  margin: 10px;
  font-size: 13pt;
  color: #AFAFAF;
  cursor: pointer;
}

.voteUp:hover {
  font-weight: bold;
  color: lime;
}

.voteDwn:hover {
  font-weight: bold;
  color: red;
}

.commentItself {
  font-size: 13pt;
  width: 800px;
  word-wrap: break-word;
}

.gridParkInfo {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.featuredComment {
  position: absolute;
  top: 50px;
  width: 300px;
  right: 30px;
  color: aliceblue;
}

.featuredComment p {
  max-height: 200px;
  word-wrap: break-word;
  overflow: auto;
}

.featuredComment h3 {
  position: absolute;
  top: -20px;
}

.logo {
  position: absolute;
  font-size: 200pt;
  top: 100px;
  background-color: lavender;
  margin-left: 5%;
}

.peace {
  position: absolute;
  left: 180px;
  top: 90px;
  color: #80DFC8;
  z-index: 5;
}

.and {
  position: absolute;
  color: aliceblue;
  left: 450px;
  top: 170px;
  z-index: 4;
}

.serenity {
  position: absolute;
  left: 200px;
  top: 250px;
  color: #62B29E;
}

.logo2 {
  position: absolute;
  left: -100px;
  top: -60px
}

.peace2 {
  position: absolute;
  color: #80DFC8;
  z-index: 3;
}

.and2 {
  position: absolute;
  top: 20px;
  left: 66px;
  color: aliceblue;
  z-index: 1;
}

.serenity2 {
  position: absolute;
  top: 38px;
  left: 5px;
  color: #62B29E;
}

#login {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}

#title {
  position: relative;
  font-size: 50pt;
}

#search {
  border: 1px solid black;
}

#search-content {
  display: flex;
  justify-content: space-around;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  border: 1px solid black;
  padding: 50px;
  padding-bottom: 70px;
  margin-bottom: 150px;
  margin-top: 140px;
  border-radius: 3%;
}

#subNavbar {
  background-image: linear-gradient(to bottom right, #E9FFDE, #FFFFFF);
}

#profile {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  border: 1px solid yellow;
}

#userInfo {
  margin: 50px;
  font-size: 15pt;
}

#userInfo span {
  color: grey;
  margin-right: 50px;
}

#favPark {
  border: 1px solid grey;
}

#userComments {
  grid-column: 1 / span 2;
  border: 1px solid grey;
}
